
<settings>
<phone-settings e="2">
<codec_tos perm="RW">184</codec_tos>
<setting_server perm="RW">http://{{ pngnx_ip }}:{{ pngnx_phoneprov_proxy_port }}/nginx-proxy/{mac}.cfg</setting_server>
<pnp_config perm="RW">off</pnp_config>
<dns_domain perm="RW">{{ pngnx_domain }}</dns_domain>
<dns_server1 perm="RW">{{ pngnx_dns1 }}</dns_server1>
<dns_server2 perm="RW">{{ pngnx_dns2 }}</dns_server2>
<gateway perm="RW">{{ pngnx_gateway }}</gateway>
<utc_offset perm="RW">{{ pngnx_utc_offset_seconds }}</utc_offset>
<ntp_server perm="RW">{{ pngnx_ip }}</ntp_server>
<http_user perm="RW">{{ pngnx_phone_http_user }}</http_user>
<http_pass perm="RW">{{ pngnx_phone_http_pass }}</http_pass>
<dst perm="RW">{{ pngnx_phone_dst_string }}</dst>
<timezone perm="RW">{{ pngnx_timezone }}</timezone>
<user_phone perm="RW">off</user_phone>
<admin_mode_password perm="RW">{{ pngnx_phone_admin_pass }}</admin_mode_password>
<admin_mode_password_confirm perm="RW">{{ pngnx_phone_admin_pass }}</admin_mode_password_confirm>
<tone_scheme perm="RW">USA</tone_scheme>
<vol_ringer perm="RW">7</vol_ringer>
<vol_handset perm="RW">10</vol_handset>
<alert_internal_ring_sound perm="RW">Ringer2</alert_internal_ring_sound>
<alert_external_ring_sound perm="RW">Ringer3</alert_external_ring_sound>
<alert_group_ring_sound perm="RW">Ringer4</alert_group_ring_sound>
<display_method perm="RW">display_number_name</display_method>
<headset_active perm="RW">on</headset_active>
<vlan_id perm="RW"></vlan_id>
<vlan_qos perm="RW"></vlan_qos>
<offer_gruu perm="RW">off</offer_gruu>
<update_filename perm="RW"></update_filename>
<time_24_format perm="RW">off</time_24_format>
<syslog_server perm="RW">{{ pngnx_ip }}</syslog_server>
<snmp_trusted_addresses perm="RW">{{ pngnx_ip }}</snmp_trusted_addresses>
<signaling_tos perm="RW">96</signaling_tos>
<dkey_record perm="RW">speed *98;dtmf=0,1</dkey_record>
<dkey_retrieve perm="RW">speed *98</dkey_retrieve>
<dkey_help perm="RW">speed 7203242729</dkey_help>
<dkey_snom perm="RW">speed *88</dkey_snom>
<http_client_user perm="RW">{{ pngnx_phone_http_client_user }}</http_client_user>
<http_client_pass perm="RW">{{ pngnx_phone_http_client_pass }}</http_client_pass>
<use_hidden_tags perm="RW">on</use_hidden_tags>
<user_realname idx="1" perm="RW">${DISPLAY_NAME}</user_realname>
<user_realname idx="2" perm="RW">${DISPLAY_NAME}</user_realname>
<user_name idx="1" perm="RW">${CALLERID}</user_name>
<user_name idx="2" perm="RW">${CALLERID}</user_name>
<user_host idx="1" perm="RW">{{ pngnx_ip }}</user_host>
<user_host idx="2" perm="RW">{{ pngnx_oldpbxip }}</user_host>
<user_pname idx="1" perm="RW">${USERNAME}</user_pname>
<user_pname idx="2" perm="RW">${USERNAME}</user_pname>
<user_pass idx="1" perm="RW">${SECRET}</user_pass>
<user_pass idx="2" perm="RW">${OLDPASS}</user_pass>
<user_mailbox idx="1" perm="RW"></user_mailbox>
<user_mailbox idx="2" perm="RW"></user_mailbox>
<user_srtp idx="1" perm="RW">off</user_srtp>
<user_srtp idx="2" perm="RW">off</user_srtp>
<call_waiting idx="1" perm="RW">visual</call_waiting>
<user_symmetrical_rtp idx="1" perm="">on</user_symmetrical_rtp>
<user_idle_text idx="1" perm="RW">x${USERNAME}</user_idle_text>
<user_idle_text idx="2" perm="RW">x${USERNAME}old</user_idle_text>
<user_sipusername_as_line idx="1" perm="RW">on</user_sipusername_as_line>
<vq_report_collector idx="1" perm="RW">{{ pngnx_ip }}:{{ pngnx_vqmon_port }}</vq_report_collector>
<user_dp_exp idx="1" perm="RW">  </user_dp_exp>
<user_full_sdp_answer idx="1" perm="RW">off</user_full_sdp_answer>
<user_ringer idx="1" perm="RW">Ringer1</user_ringer>
<user_ringer idx="2" perm="RW">Ringer1</user_ringer>
<internal_ringer_text idx="0" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="1" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="2" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="3" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="4" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="5" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="6" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="7" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="8" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="9" perm="RW"></internal_ringer_text>
<internal_ringer_text idx="10" perm="RW"></internal_ringer_text>
<hide_identity idx="1" perm="RW">false</hide_identity>
<hide_identity idx="2" perm="RW">false</hide_identity>
<codec_priority_list idx="1" perm="RW">g722,telephone-event</codec_priority_list>
<use_contact_in_refer_to_hdr idx="1" perm="RW">off</use_contact_in_refer_to_hdr>
</phone-settings>
<functionKeys e="2">
<fkey idx="0" context="active" label="" perm="RW">line</fkey>
<fkey idx="1" context="active" label="" perm="RW">line</fkey>
<fkey idx="2" context="active" label="" perm="RW">line</fkey>
<fkey idx="3" context="active" label="" perm="RW">line</fkey>
<fkey idx="4" context="active" label="" perm="RW">line</fkey>
</functionKeys>
<tbook e="2">
</tbook>
<dialplan e="2">
</dialplan>
</settings>
