<?xml version="1.0" standalone="yes"?>
<APPLICATION
	APP_FILE_PATH="sip.ld"
	CONFIG_FILES="polycom-[PHONE_MAC_ADDRESS]-reg.cfg, polycom-client-dynamic-[PHONE_MODEL].cfg, polycom-client-dynamic.cfg, polycom-client.cfg" 
	MISC_FILES="" 
	LOG_FILE_DIRECTORY="/logs" 
	OVERRIDES_DIRECTORY="/overrides" 
	CONTACTS_DIRECTORY="/contacts" 
	LICENSE_DIRECTORY="/licenses"> 
</APPLICATION>
