<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<polycomConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="polycomConfig.xsd">
  <bitmap>
    <bitmap.idleDisplay bitmap.idleDisplay.name="{{ pngnx_polycom_mb_proto }}${SERVER}{{ pngnx_polycom_idle_img_spip550 }}" />
  </bitmap>
</polycomConfig>
